.home-container {
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
}

.venues-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  padding: 0 20px;
}

.popular-venues-title {
  padding-left: 10px;
}
